<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Profile</title>
</head>
<body>
{% for student_info in student_q %}
<img src="{{ student_info.photo }}" width="100px">
<div>Name: {{ student_info.name }}</div>
<div>Surname: {{ student_info.surname }}</div>
<div>Age: {{ student_info.age }}</div>
<div>Gmail: {{ student_info.gmail }}</div>
<div>Phone Number: {{ student_info.phone }}</div>
    {% if student_info.subject_1 != None and student_info.subject_2 != None and student_info.subject_3 != None %}
<div>Subjects: {{ student_info.subject_1 }} {{ student_info.subject_2 }} {{ student_info.subject_3 }}</div>
    {% endif %}
<div>Present days: {{ student_info.present_days }}</div>
    {% endfor %}
{% for group_n1 in group_name1 %}
    <div>Group 1:<a href="{{ url_for('inside_of_group',id=group_n1.id) }}">{{ group_n1.name }}</a></div>
    {% endfor %}
{% for group_n2 in group_name2 %}
    <div>Group 2:<a href="{{ url_for('inside_of_group',id=group_n2.id) }}">{{ group_n2.name }}</a></div>
    {% endfor %}
{% for group_n3 in group_name3 %}
    <div>Group 3:<a href="{{ url_for('inside_of_group',id=group_n3.id) }}">{{ group_n3.name }}</a></div>
{% endfor %}

{% for student_info in student_q %}
    <div>Amount of charity: {{ student_info.charity }}</div>

<label>Charity

    <form method="post" action="{{ url_for('give_charity',id=student_info.id) }}"> <input type="text" name="charity"><input type="submit" value="submit"></form>
</label>

{% endfor %}


<div></div>
</body>
</html>