{% extends 'base template/home.html' %}
{% block login %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <style>
        label{
            margin-left: 10%;
        }
    </style>
</head>
<body>
<form action="{{ url_for('change_password_teacher') }}" method="post">
 <label>Current Password
        <input type="password" name="current_password"></label>
    <label>New Password
    <input type="password" name="new_password">
    </label>
    <label>Confirm Password
    <input type="password" name="confirm_password">
    </label>
    <br>
    <input type="submit" value="change info">
</form>
</body>
</html>
{% endblock %}